.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer-section h3 {
  color: #ffcc00;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section.social a {
  font-size: 20px;
  margin-right: 10px;
  color: #ffcc00;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}
